<!DOCTYPE html>
<html lang="en">
<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>经典剧目</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>

<body>

  <!--导航-->
  <div style="display: flex; justify-content: center;">
    <ul class="nav">
      <li class="active"><a href="#">网站首页</a></li>
      <li class="drop-down"><a href="#">婺剧简介</a>
        <ul class="drop-down-content">
          <li><a href="sumaries.html">概况</a></li>
        </ul>
      </li>
      <li class="drop-down"><a href="#">单位概况</a>
        <ul class="drop-down-content">
          <li><a href="#">剧院简介</a></li>
          <li><a href="#">机构设置</a></li>
        </ul>
      </li>
      <li class="drop-down"><a href="#">职员风采</a>
        <ul class="drop-down-content">
          <li><a href="#">表演</a></li>
          <li><a href="#">音乐</a></li>
          <li><a href="#">舞台美术</a></li>
          <li><a href="#">非遗传承人</a></li>
          <li><a href="#">老照片</a></li>
        </ul>
      </li>
      <li class="drop-down"><a href="#">荣誉关怀</a>
        <ul class="drop-down-content">
          <li><a href="#">单位荣誉</a></li>
        </ul>
      </li>
      <li class="drop-down"><a href="#">经典剧目</a>
        <ul class="drop-down-content">
          <li><a href="classicrepertoire.html">经典剧目</a></li>
          <li><a href="#">演出剧照</a></li>
        </ul>
      </li>
      <li class="drop-down"><a href="#">院团动态</a></li>
      <li class="drop-down"><a href="#">演出信息</a></li>
      <li class="drop-down"><a href="videos.html">在线试听</a></li>
    </ul>
  </div>


  <!--中间内容-->
  <div  class="m-container m-padded-tb-big">
    <div class="ui container">
      <div class="ui stackable grid">
        <!--左边博客列表-->
        <div class="five wide column">

          <!--分类-->
          <div class="ui segments">
            <div class="ui secondary segment">
              <div class="ui two column grid">
                <div class="column">
                  <i class="idea icon"></i>分类
                </div>
                <div class="right aligned column">
                  <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                </div>
              </div>
            </div>
            <div class="ui teal segment">
              <div class="ui fluid vertical menu">
                <a href="#" class="item">
                  婺剧简介
                  <div class="ui teal basic left pointing label">13</div>
                </a>
                <a href="#" class="item">
                  婺剧历史
                  <div class="ui teal basic left pointing label">13</div>
                </a>
              </div>
            </div>
          </div>
          <br>

          <!--最新推荐-->
          <div class="ui segments m-margin-top-large">
            <div class="ui secondary segment ">
              <i class="bookmark icon"></i>最新推荐
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">机构变更</a>
            </div>
            <div class="ui segment" >
              <a href="#" target="_blank" class="m-black m-text-thin">演出成果</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">荣誉殿堂</a>
            </div>
          </div>
          <br>
          <br>

          <!--二维码-->
          <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
          <div class="ui centered card" style="width: 11em">
            <img src="../static/images/wechat.jpg" alt="" class="ui rounded image" >
          </div>
        </div>


        <!--右边的top-->
        <div class="eleven wide column">
          <!--header-->
          <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
              <div class="column">
                <h3 class="ui teal header">经典剧目</h3>
              </div>
              <div class="right aligned column">
                 <h2 class="ui orange header m-inline-block m-text-thin"> 5 </h2> 幕
              </div>
            </div>
          </div>

          <!--content-->
          <div class="ui attached  segment">

            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="sixteen wide column">


                  <div style="padding: 30px">
                    <img src="../static/images/repertoire/img01.png" alt="" style="width: 11em;height: 15em;margin-right: 36px" title="你好呀">
                    <img src="../static/images/repertoire/img02.png" alt="" style="width: 11em;height: 15em;margin-right: 36px">
                    <img src="../static/images/repertoire/img03.png" alt="" style="width: 11em;height: 15em">

                    <img src="../static/images/repertoire/img01.png" alt="" style="width: 11em;height: 15em;margin-right: 36px;margin-top: 36px" title="你好呀">
                    <img src="../static/images/repertoire/img02.png" alt="" style="width: 11em;height: 15em;margin-right: 36px">
                    <img src="../static/images/repertoire/img03.png" alt="" style="width: 11em;height: 15em">


                  </div>

                  <div class="ui grid">
                    <div class="sixteen wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          2022-08-16
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 1954
                        </div>
                        <div class="item">
                          <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>

          <!--footer-->
          <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
              <div class="column">
                <a href="#" class="ui mini teal basic button">上一页</a>
              </div>
              <div class="right aligned column">
                <a href="#" class="ui mini teal basic button">下一页</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>


  <!--beginunit name=foot -->
  <div style="width: 1000px;color: teal; height: 30px" >
    <table>

    </table>
  </div>
  <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td height="20"><img src="./images/line1.gif" width="5" height="5" /></td>
    </tr>
    <tr>
      <td height="30" align="center" bgcolor="cbbaa0"><a href="./wjjj/gk/index.html" target="_blank">婺剧简介</a> | <a href="./jdjm/index.html" target="_blank">经典剧目</a> | <a href="./wzdt/index.html" target="_blank">网站地图</a></td>
    </tr>
    <tr>
      <td height="100" align="center" class="bottom_z">
        <p>版权所有：Copyright 2014 浙江婺剧艺术研究院（浙江婺剧团）&nbsp;&nbsp;&nbsp;&nbsp;技术支持单位：浙江正联网络科技有限公司</p>
        <p>地址：浙江省金华市婺城区燕尾洲路208号 电话（TEL）：0579-82337320 82301625 82307350</p>
        <p>传真（FAX）：0579-82301625 邮箱（EMAIL）：zjwjysyjy@163.com </p>
        <p>备案编号：<a href="http://beian.miit.gov.cn" target="_blank" >浙ICP备18000445号-1</a></p>
        <p><script type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/12/192/0000/41247185/CA121920000412471850001.js' type='text/javascript'%3E%3C/script%3E"));</script></p>
      </td>
    </tr>
  </table>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });
  </script>
</body>
</html>